## Deliverable 3. Create a Travel Itinerary Map.

In [119]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [120]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Nouadhibou,MR,77.00,clear sky,20.93,-17.03,El Medina
1,4,Kirakira,SB,79.93,light rain,-10.45,161.92,SanBiz Lodge
2,11,Ponta Do Sol,PT,75.20,broken clouds,32.67,-17.10,Hotel do Campo
3,13,Atuona,PF,78.46,light rain,-9.80,-139.03,Villa Enata
4,16,Half Moon Bay,US,75.00,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [121]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [122]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [123]:
vaca_df = vacation_df.set_index("City", drop=False)

vaca_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City,,,,,,,,
Nouadhibou,3,Nouadhibou,MR,77.00,clear sky,20.93,-17.03,El Medina
Kirakira,4,Kirakira,SB,79.93,light rain,-10.45,161.92,SanBiz Lodge
Ponta Do Sol,11,Ponta Do Sol,PT,75.20,broken clouds,32.67,-17.10,Hotel do Campo
Atuona,13,Atuona,PF,78.46,light rain,-9.80,-139.03,Villa Enata
Half Moon Bay,16,Half Moon Bay,US,75.00,clear sky,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"

In [124]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.


vacation_start = vaca_df.loc[vaca_df["City"]=="Tateyama", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]
vacation_end = vaca_df.loc[vaca_df["City"]=="Tateyama", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]
vacation_stop1 = vaca_df.loc[vaca_df["City"]=="Katsuura", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]
vacation_stop2 = vaca_df.loc[vaca_df["City"]=="Hasaki", ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]]
vacation_stop3 = vaca_df.loc[vaca_df["City"]=="Edosaki", ["City","Country","Max Temp","Current Description","Lat","Lng","Hotel Name"]]

In [125]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]

print(start, end, stop1, stop2, stop3)

[ 34.98 139.87] [ 34.98 139.87] [ 35.13 140.3 ] [ 35.73 140.83] [ 35.95 140.32]

In [132]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
roundtrip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(roundtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [127]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tateyama,JP,80.6,few clouds,34.98,139.87,Tateyama Seaside Hotel
1,Tateyama,JP,80.6,few clouds,34.98,139.87,Tateyama Seaside Hotel
2,Katsuura,JP,82.0,few clouds,35.13,140.30,Katsuura Hotel Mikazuki
3,Hasaki,JP,77.0,mist,35.73,140.83,Inubosaki Kanko Hotel
4,Edosaki,JP,77.0,mist,35.95,140.32,Edosaki Business Hotel

In [128]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [131]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))